/* for mobile phone view below *//* for mobile phone view below */


body {
    color: black;
    margin: 0;
  
    text-align: center;
    font-family: 'Merriweather', serif;
  }


.logo {
  
    margin-left: auto;
    margin-right: auto;
  
  }
  
  nav{
    width:100%;
    height: 100%;
    background-color: rgb(130, 126, 126);
  }

  .top {
    max-width: 100%;
    display: flex;
    text-align: center;

}

.hero-pic {

    height: 100%;
    width: 100%;
    display: block;
    margin-top: 50px;
}

.btn {
    background: #F63D3D;
    background-image: -webkit-linear-gradient(top, #F63D3D, #811616);
    background-image: -moz-linear-gradient(top, #F63D3D, #811616);
    background-image: -ms-linear-gradient(top, #F63D3D, #811616);
    background-image: -o-linear-gradient(top, #F63D3D, #811616);
    background-image: -webkit-gradient(to bottom, #F63D3D, #811616);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 13px;
    line-height: 10px;
    color: #FFFFFF;
    font-family: Arial;
    width: 249px;
    font-size: 40px;
    font-weight: 900;
    padding: 18px;
    -webkit-box-shadow: 1px 1px 6px 0 #000000;
    -moz-box-shadow: 1px 1px 6px 0 #000000;
    box-shadow: 1px 1px 6px 0 #000000;
    text-shadow: 1px 1px 6px #000000;
    border: solid #762C2C 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-bottom: 20px;
  
  }
  
  .btn:hover {
    border: solid #ED3333 1px;
    background: #811616;
    background-image: -webkit-linear-gradient(top, #811616, #F63D3D);
    background-image: -moz-linear-gradient(top, #811616, #F63D3D);
    background-image: -ms-linear-gradient(top, #811616, #F63D3D);
    background-image: -o-linear-gradient(top, #811616, #F63D3D);
    background-image: -webkit-gradient(to bottom, #811616, #F63D3D);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    text-decoration: none;
  }

  .bottom-container {
    background-color: rgb(130, 126, 126);
    padding: 50px 0 20px;
    margin: 10px;
  
  }
  
  a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
  }
  
  
  
  .copyright {
  
    font-size: 33px;
    color: white;
  }


  .call-outs-container {

    max-width: 1400px;
    margin: 40px auto 0 auto;
    gap: 20px;

}

.greentea {

  color: green;

}

@media (min-width: 768px) {

    .call-outs-container {
        display: flex;
        justify-content: space-between;

        
    }

    .hero-pic {
      display: block;
      height: 50%;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;
      
    }

    .tiff-pic {

      display: block;
      height: 20%;
      width: 20%;
      margin-left: auto;
      margin-right: auto;
      border: 2px red solid;
    }
}

h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    color: aqua;

}

.TitleRed {

  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
  color: red;



}

p {
  font-size: 120%;
  line-height: 150%;
  margin-bottom: 50px;
}

.box1 {

    color: beige;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;

    order: 2;
    flex: 1;


}

.box2 {

    color: black;
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    order:1;
    flex: 1;


    
}

.box3 {

    color: black;
    background-color: lightcyan;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 40px;

    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    order: 3;
    flex: 1;




    
}

.tiff-pic {

  display: block;
  height: 60%;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border: 2px red solid;
}


.email {

  font-size: 43px;
  color: yellow;
  text-decoration: underline;
  margin-bottom: 90px;

}

.email:hover {
  color: white;
}


/* for tablet view below *//* for tablet view below *//* for tablet view below */
@media only screen and (min-width:768px) {   }






/* for desktop view below */ /* for desktop view below *//* for desktop view below */
@media only screen and (min-width:1000px) {   }


  







